#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

/* App.css */

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: black;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.start-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #218838;
}

.questionnaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-card {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: black;
  max-width: 600px;
  width: 100%;
}

.options {
  margin: 20px 0;
}

.option-item {
  margin: 10px 0;
  font-size: 16px;
}

.option-item input[type="radio"] {
  margin-right: 10px;
}

.feedback {
  margin-top: 10px;
  font-size: 16px;
}

.feedback.correct {
  color: green;
}

.feedback.incorrect {
  color: red;
}

.next-button, .reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.next-button:hover, .reset-button:hover {
  background-color: #0056b3;
}
